$back: #2f303a!default;
$general: #202027!default;
$navhover: #202027!default;
$borderinput: #2e3852!default;
$borderinputfocus: #596da0!default;
$buttonbck: #1762a7!default;
$buttonhover: #2180d8!default;
$buttonfocus: #2796ff!default;
$accenttext: #2796ff!default;
$circle1:#bc3a801a!default;
$circle23: #3457b21a!default;
$font-size: 1.2 rem!default;
$font-style: poppins!default;

